html, body { height: 100%; }
.bottom-dotted { border-bottom:2px dotted #c46f74; }
.tooltip.show { opacity: 1 !important; filter: alpha(opacity=100) !important;}
.tooltip-inner { border: 1px red solid; max-width: 300px; }
#pcm_volumeVertical { height:200px; margin-left:15px; }
#pcm_volumeVertical .ui-slider-range { background-color: #cecfcf; }
.fill { min-height: 100%; height: 100%; }
.btn-primary-dark { background-color: #063e4d; color: #ebf0f0; }
.btn-primary-dark:hover { color: #E0FFFF !important; background-color: #2d78b9; }
.pcm_top {
  height:45px;
  border-width:1px !important;
  border-bottom-width:4px !important;
}
#pcm_topMenu { line-height:0px !important; vertical-align: top; background-color: #03043a; }
.pcm_menu { height:30px; }
#pcm_quickMenu { line-height: 1.0; vertical-align: top; border-bottom: 4px solid #e0cdcb; background-color: #03043a; }
.pcm_status { background-color:#03043a; color: #f3fd7d; padding-left: 10px; height:20px; line-height: 1.0; vertical-align: top; }
.pcm-quickBtn, .pcm-topMenuBtn { background-color: #ebf1f5; font-size: 0.8em !important; }
.pcm_dMenuButton { background-color:#063e4d; vertical-align: bottom; width:17px; line-height:1.2; font-size: 13px; padding: 7px 4px 0 4px; }
#pcm_pandaTabs .pcm_tabs { overflow-y:auto; height: calc(100vh - 260px); }
#pcm_logTabs .pcm_tabs { overflow-y:auto; height: 140px; }
.pcm-tabDelete { line-height:1.2; color: #eb892d; }
.pcm_hitButton {
  margin-top: 2px !important;
  margin-bottom: 3px !important;
  line-height:0.4 !important;
  font-size:.775rem !important;
}
.pcm_hamButton { display: inline-block; }
.pcm_hamButton.disabled { background-color: #A9A9A9; border-color: #808080; }
.pcm_deleteButton {
  font-size:.675rem !important;
  padding-left:3px !important;
  padding-right:3px !important;
  margin-left:5px !important;
}
.pcm_buttonOn { background-color: #008000; color: #FFFFFF; }
.pcm_buttonOn.pcm_delayedHam { background-color: #4b8b26; color: #FFFFFF; }
.pcm_buttonOff { background-color: #D3D3D3; color: #000000; }
.pcm_buttonOff.pcm_delayedHam { background-color: #087d9b; color: #f3e3e3; }
.pcm_dropdownMenu { line-height:1.5; background-color: #cdd9f3; }
.card {
  margin: 2px 2px 0 0 !important;
  border-color: #023bd6 !important;
  border-width: 2px !important;
  max-width: 220px !important;
  min-width:220px !important;
  padding: 0 0 !important;
}
.pcm_pandaCard { background-color: #48D1CC; }
.pcm_pandaCard.pcm_oneLine { min-width:350px !important; max-width:350px !important; }
.card-text { line-height: 1.0 !important; padding-left:1px !important; }
.pcm_checkbox { height:11px; }
.pcm_nameGroup, .pcm_priceGroup {
  font-weight: 600 !important;
  line-height: 0.8 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.pcm_reqName {
  color: #000080;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  font-size: 0.8em !important;
  padding-left: 1px !important;
  /* width: 200px !important; */
}
.pcm_groupId {
  color: #000000;
  font-weight: 700 !important;
  line-height: 1.0 !important;
  font-size: 0.530em !important;
  padding-top:3px !important;
}
.pcm_price, .pcm_numbers, .pcm_title {
  font-weight: 600 !important;
  line-height: 1.2 !important;
  font-size: 0.7em !important;
}
.pcm_price { color: #000000; }
.pcm_numbers { color: #006400; }
.pcm_title { color: #000000; }
.pcm_captchaText { font-size: 10px; margin-top:2px; }
.pcm_hitStats {
  color: #000000;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  font-size:0.6em !important;
}
.pcm_queueResults { font-size:11px; line-height: 1.2; padding-top:2px; padding-bottom:2px; font-weight: 600; color:#dbdbd2; }
.pcm_queueResults span { color:#47cdcd; }
.table-moreCondensed>tbody>tr>td { padding-right:1px !important; font-size: 11px; }
.table-xs { font-size: .575rem !important; line-height: .1 !important; }
.text-xs { font-size: .575rem !important; color: #FFF5EE; }
.text-pcmInfo { color: #edf5e6; padding-top:1px !important; padding-bottom:1px !important; font-size:11px; line-height:1.0; }
.btn-group-xs > .btn, .btn-xs { padding: .25rem .4rem; font-size: .875rem; line-height: .5; border-radius: .2rem; }
.btn-group-xs > .btn, .btn-xxs { padding: .25rem .3rem; font-size: .775rem; line-height: .4; border-radius: .2rem; }
.radio-xxs { height: 12px; }
.pcm_triggerItem {
  font-size: .875rem;
  line-height: 1.0;
  background-color: #1A3E5E;
  color: #F0E68C;
}
.pcm_triggerItem:hover .text-xs { color: #000080; }
.pcm_triggerItem.pcm_disabled { color: #C0C0C0; }
.pcm_triggerItem.pcm_disabled .text-xs { color: #BCC6CC; }
.pcm_triggerItem.pcm_disabled:hover .text-xs { color: #000080; }
.pcm_triggerItem.pcm_disabled.active { color: #FAEBD7; }
.pcm_triggerItem.pcm_disabled:hover { background-color: #E0FFFF; color: #000000; }
.pcm_jobsModalBody { max-height:calc(100vh - 165px); overflow-y:auto; }
.pcm_groupingsEditModalBody { max-height:calc(100vh - 235px); overflow-y:auto; }
.pcm_modalControl { background-color: #0c0a1f; color: #FFFFFF; }
.modal-header-success {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5cb85c;
}
.modal-header-warning {
  color: rgb(5, 7, 138);
  padding:9px 15px;
  border-bottom:1px solid rgb(192, 15, 44);
  background-color: #f0ad4e;
}
.modal-header-danger {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #d9534f;
}
.modal-header-info {
  color: #e6ebac;
  padding:1px 15px;
  border-bottom:1px solid #441007;
  background-color: #13576b;
}
.modal-footer-info {
  color: #e6ebac;
  padding:1px 15px;
  border-top:1px solid #441007;
  background-color: #13576b;
}
.modal-footer-info .btn-default { color: #8fc2f0 !important; }
.modal-header-info .close { color: #ffffff !important; }
.modal-header-info .modal-title { font-size: 1.4em !important; }
.modal-header-info .modal-body { font-size: 0.7em !important; text-align:left !important; }
.modal-header-primary {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #428bca;
}
.pcm_jobTable { margin-bottom:5px !important; }
.pcm_detailsTable tr { line-height: 0.8; font-size: 0.8em; }
.pcm_detailsTable tr output { width:30px !important; font-size: 0.7rem !important; height:20px; padding:0 6px; }
.pcm_detailsTable tr .editable-submit { font-size: 0.3em !important; height:20px; }
.pcm_detailsTable tr .editable-cancel { font-size: 1.0em !important; height:20px; color: #D3D3D3; padding:0; }
.pcm_detailsTable tr select { font-size: 1.0em !important; height:20px; color: #D3D3D3; padding:0; }
.pcm_inputText { height:17px !important; margin-left:2px; font-size:0.9em !important; width:300px; padding-left:4px; }
.pcm_inputText-md { height:19px !important; margin-left:2px; padding-top:2px; font-size:0.9em !important; width:350px !important; }
.pcm_inputDiv-url input { width: 600px !important; }
.pcm_inputRangeText { height:13px !important; margin-left:2px; font-size:0.7em !important; width:30px; }
.pcm_inputRange { height:7px !important; }
.form-inline label { display:block; }
.form-check { line-height: 0.6 !important; vertical-align: top; }
.pcm_inputError { padding-bottom: 5px; color: #f78976; }
::-webkit-input-placeholder { color: #0d161d; opacity: 0.5 !important; }
.nav-tabs
 {
  border-color:#1A3E5E;
  width:100%;
  margin-top:2px;
 }

.nav-tabs > li a { 
  border: 1px solid #1A3E5E;
  background-color:#2F71AB; 
  color:#fff;
  margin-left:3px;
}
.nav-link { padding: .2rem .5rem; }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
  background-color:#D6E6F3;
  color:#000;
  border: 1px solid #1A3E5E;
  border-bottom-color: transparent;
}

.nav-tabs > li > a:hover{
  background-color: #D6E6F3 !important;
  border-radius: 5px;
  color:#000;
} 

.tab-pane {
  border:solid 1px rgb(5, 43, 41);
  border-top: 0; 
  width:100%;
  background-color: #000000;
  padding:5px;
}

.card-deck { margin-right: 0; margin-left: 0; }
