html, body {
  height: 100%;
}
.bottom-dotted { border-bottom:2px dotted #c46f74; }
.fill { 
  min-height: 100%;
  height: 100%;
}
.btn-primary-dark { background-color: #5c5c77; color: #ebf0f0; }
.btn-primary-dark:hover { color: #E0FFFF !important; background-color: #1A3E5E; }
.pcm_top {
  height:45px;
  border-width:1px !important;
  border-bottom-width:4px !important;
}
.pcm_menu { height:30px; }
#pcm_quickMenu { line-height: 1.0; vertical-align: top; border-bottom: 4px solid #e0cdcb; }
.pcm_status { background-color: #205755; color: #f3fd7d; padding-left: 10px; height:20px; line-height: 1.0; vertical-align: top; }
.pcm-quickBtn, .pcm-topMenuBtn { background-color: #ebf1f5; font-size: 0.8em !important; }
.pcm_tabs {
  overflow-y:auto;
  height: calc(100vh - 200px);
}
.pcm-tabDelete {
  line-height:1.2;
  color: #eb892d;
}
.pcm_hitButton {
  margin-top: 2px !important;
  margin-bottom: 3px !important;
  line-height:0.4 !important;
  font-size:.775rem !important;
}
.pcm_hamButton.disabled {
  background-color: #A9A9A9;
  border-color: #808080;
}
.pcm_deleteButton {
  font-size:.675rem !important;
  padding-left:3px !important;
  padding-right:3px !important;
  margin-left:5px !important;
}
.pcm_buttonOn {
  background-color: #008000;
  color: #FFFFFF;
}
.pcm_buttonOff {
  background-color: #D3D3D3;
  color: #000000;
}
.pcm_topMenu {
  line-height:0px !important;
  vertical-align: top;
}
.pcm_dropdownMenu {
  line-height:1.5;
  background-color: #cdd9f3;
}
.card {
  margin: 2px 2px 0 0 !important;
  border-color: #023bd6 !important;
  border-width: 2px !important;
  max-width: 220px !important;
  min-width:220px !important;
  padding: 0 1px !important;
}
.pcm_pandaCard {
  background-color: #48D1CC;
}
.card-text {
  line-height: 1.0 !important;
}
.pcm_nameGroup, .pcm_priceGroup {
  font-weight: 600 !important;
  line-height: 0.8 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.pcm_reqName {
  color: #000080;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  font-size: 0.8em !important;
  /* width: 200px !important; */
}
.pcm_groupId {
  color: #000000;
  font-weight: 700 !important;
  line-height: 1.0 !important;
  font-size: 0.530em !important;
  padding-top:3px !important;
}
.pcm_price, .pcm_numbers, .pcm_title {
  font-weight: 600 !important;
  line-height: 1.2 !important;
  font-size: 0.7em !important;
}
.pcm_price { color: #000000; }
.pcm_numbers { color: #006400; }
.pcm_title {
  color: #000000;
}
.pcm_hitStats {
  color: #000000;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  font-size:0.6em !important;
}
.table-xs {
  font-size: .575rem !important;
  line-height: .1 !important;
}
.text-xs {
  font-size: .575rem !important;
  color: #FFF5EE;
}
.text-pcmInfo { color: #b6f77a; }
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
.pcm_triggerItem {
  font-size: .875rem;
  line-height: 1.0;
  background-color: #1A3E5E;
  color: #F0E68C;
}
.pcm_triggerItem:hover .text-xs { color: #000080; }
.pcm_triggerItem.pcm_disabled { color: #C0C0C0; }
.pcm_triggerItem.pcm_disabled .text-xs { color: #BCC6CC; }
.pcm_triggerItem.pcm_disabled:hover .text-xs { color: #000080; }
.pcm_triggerItem.pcm_disabled.active { color: #FAEBD7; }
.pcm_triggerItem.pcm_disabled:hover {
  background-color: #E0FFFF;
  color: #000000;
}
.modal-header-success {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5cb85c;
}
.modal-header-warning {
  color: rgb(5, 7, 138);
  padding:9px 15px;
  border-bottom:1px solid rgb(192, 15, 44);
  background-color: #f0ad4e;
}
.modal-header-danger {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #d9534f;
}
.modal-header-info {
  color: #e6ebac;
  padding:1px 15px;
  border-bottom:1px solid #441007;
  background-color: #13576b;
}
.modal-footer-info {
  color: #e6ebac;
  padding:1px 15px;
  border-top:1px solid #441007;
  background-color: #13576b;
}
.modal-footer-info .btn-default { color: #8fc2f0 !important; }
.modal-header-info .close { color: #ffffff !important; }
.modal-header-info .modal-title { font-size: 1.4em !important; }
.modal-header-info .modal-body { font-size: 0.7em !important; text-align:left !important; }
.modal-header-primary {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #428bca;
}
.pcm_detailsTable tr { line-height: 0.8; font-size: 0.8em; }
.pcm_detailsTable tr output { width:30px !important; font-size: 0.7rem !important; height:20px; padding:0 6px; }
.pcm_detailsTable tr .editable-submit { font-size: 0.3em !important; height:20px; }
.pcm_detailsTable tr .editable-cancel { font-size: 1.0em !important; height:20px; color: #D3D3D3; padding:0; }
.pcm_detailsTable tr select { font-size: 1.0em !important; height:20px; color: #D3D3D3; padding:0; }
.pcm_inputText { height:14px !important; margin-left:2px; font-size:0.9em !important; }
.pcm_inputText-md { height:18px !important; margin-left:2px; font-size:0.9em !important; width:350px !important; }
.pcm_inputRangeText { height:13px !important; margin-left:2px; font-size:0.7em !important; width:30px; }
.pcm_inputRange { height:7px !important; }
.form-inline label { display:block; }
.form-check { line-height: 0.6 !important; vertical-align: top; }
.pcm_inputError { padding-bottom: 5px; color: #f78976; }
::-webkit-input-placeholder { color: #0d161d; opacity: 0.5 !important; }
.nav-tabs
 {
  border-color:#1A3E5E;
  width:100%;
  margin-top:2px;
 }

.nav-tabs > li a { 
  border: 1px solid #1A3E5E;
  background-color:#2F71AB; 
  color:#fff;
  margin-left:3px;
}
.nav-link {
  padding: .2rem .5rem;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
  background-color:#D6E6F3;
  color:#000;
  border: 1px solid #1A3E5E;
  border-bottom-color: transparent;
}

.nav-tabs > li > a:hover{
  background-color: #D6E6F3 !important;
  border-radius: 5px;
  color:#000;
} 

.tab-pane {
  border:solid 1px rgb(5, 43, 41);
  border-top: 0; 
  width:100%;
  background-color: #000000;
  padding:5px;
}

.card-deck {
    margin-right: 0;
    margin-left: 0;
  }
