.pcm-buttonZone { float:right; margin:1px 3px; background-color:darkslategrey; color:white; font-size: 9px; margin-left: 10px; line-height:0.8; padding:2px; }
.pcm-buttonZoneHits { display:inline-block; margin:1px 3px; background-color:darkslategrey; color:white; font-size: 9px; margin-left: 10px; line-height:0.8; padding:2px; }
.pcm-buttonZonePreview { display:inline-table; font-size: 8px; margin-left: 10px; line-height:0.8; background-color:darkslategrey; color:white; }
.pcm-button { font-size: 12px; line-height: 1.1em; padding: 1px; color: black; background-color:beige; border:0; margin-left:2px; }
.pcm-buttonHits { font-size: 12px; line-height: 1.1em; padding: 1px; color: black; background-color:beige; border:0; margin-left:2px; }
.pcm-buttonPreview { font-size: 9px; line-height: 8px; padding: 1px; color: black; }
.PCSpanButtons, .JR_PandaCrazy { display:none; }
.pcm-expiredHit { background-color: darkred; background-image: url('/assets/alert/danger-icon.svg'); background-repeat: repeat; background-size: 50px 50px; }
.pcm-expiredIframe { opacity: 0.8; }
