.pcm-buttonZone { float:right; margin:1px 3px; background-color:darkslategrey; color:white; font-size: 9px; margin-left: 10px; line-height:0.8; padding:2px; }
.pcm-button { font-size: 12px; line-height: 1.1em; padding: 1px; color: black; background-color:beige; border:0; margin-left:2px; }
.PCSpanButtons { display:none; }
